/* Navbar Container */
.navbar-container {
    width: 100%;
    background-color: white;
    z-index: 100;
    transition: 0.4s;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 15px 70px;
    transition: all ease 0.3s;
  }
  
  /* Logo */
  .nav-logo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-logo .nav-logo-img {
    display: flex;
    align-items: center;
    font-size: 45px;
    color:red;
  }
  
  .nav-logo p {
    color: #171717;
    font-size: 25px;
    font-weight: 600;
  }
  
  /* Menu */
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
  }
  
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }
  
  .nav-menu hr {
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: red;
    animation: slide 0.3s linear;
  }
  
  @keyframes slide {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Login and Cart */
  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .cart-icon {
    display: flex;
    align-items: center;
    user-select: none;
  }
  
  .nav-login-cart button {
    width: 130px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  
  .nav-login-cart button:hover {
    background: red;
    color: white;
  }
  
  .nav-login-cart button:active {
    background: #f3f3f3;
    color: black;
  }
  
  .nav-login-cart .cart-icon {
    font-size: 35px;
  }
  
  .nav-cart-count {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    font-size: 14px;
    background: red;
    color: white;
    font-weight: 800;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .nav-cart-count:hover {
    transform: scale(1.2);
  }
  
  /* Dropdown Icon */
  .nav-dorpdown-icon {
    display: none;
  }
  
  /* Profile */
  .nav-profile {
    position: relative;
    display: inline-block;
  }
  
  .profile-icon {
    font-size: 35px;
    cursor: pointer;
  }
  
  .profile-menu {
    position: absolute;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 10;
    width: 150px;
  }
  
  
  .profile-menu p {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .profile-menu button {
    background: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    text-align: center;
  }
  
  .profile-menu button:hover {
    background: red;
  }
  
  /* Profile Menu Visibility */
  .profile-menu-visible {
    display: block;
  }
  
  /* Media Queries */
  @media (max-width: 900px) {
    .navbar {
      padding: 15px 40px;
    }
    .nav-menu {
      gap: 15px;
    }
  }
  
  @media (max-width: 750px) {
    .navbar {
      padding: 15px 20px;
    }
    .nav-login-cart {
      gap: 15px;
    }
  
    .nav-dropdown.nav-dorpdown-icon {
      display: block;
      font-size: 30px;
      transition: 0.5s;
      transform: rotate(-90deg);
    }
  
    .nav-menu {
      display: none;
      height: 80px;
      width: 100%;
      position: absolute;
      background-color: white;
      justify-content: center;
      top: 60px;
      left: 0;
    }
  
    .nav-menu-visible {
      width: 100%;
      z-index: 99;
      display: flex;
      flex-direction: column;
      height: 45vh;
      background-color: red;
      color: white;
      top: 60px;
      border-radius: 0 0 20px 20px;
      margin-top: 20px;
      box-shadow: 0 1px 3px -2px black;
    }
  
    .nav-menu-visible.nav-menu hr {
      background: white;
    }
  
    .nav-dropdown.nav-dorpdown-icon.open {
      transform: rotate(0deg);
    }
  
    .nav-cart-count {
      margin-left: -25px;
    }
  }
  
  @media (max-width: 500px) {
    .navbar {
      padding: 15px 15px;
    }
  
    .nav-logo .nav-logo-img {
      font-size: 25px;
    }
  
    .nav-logo p {
      font-size: 18px;
    }
  
    .nav-menu-visible {
      height: 45vh;
      background-color: rgb(4, 4, 136);
      color: white;
      top: 60px;
      border-radius: 0 0 20px 20px;
    }
  
    .nav-menu-visible.nav-menu {
      display: flex;
      flex-direction: column;
    }
  
    .nav-menu-visible.nav-menu hr {
      background: white;
    }
  
    .nav-login-cart {
      transform: scale(0.8);
    }
  
    .nav-login-cart {
      gap: 10px;
    }
  }
  